@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
:root{
    --branco:#f5f5f5;
    --preto:#222222;
}
*{
    cursor: default;
    font-family: 'Product Sans' !important;
}
body{background-color: var(--branco) !important;}
html {
    background-color: var(--branco) !important;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  h1,h2,
  p{
    margin: 0px;
    padding: 0px;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -webkit-touch-callout: none;
}
    h6, .footer-copyright, .text-right{
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -webkit-touch-callout: none;
    }
a:link, a:visited, a:active {
    color: black; 
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: gray;
    transition: 0.5s;
}
header{
    padding: 28px;
}
.introducao{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(46,37,58,1);
    background: rgba(46,37,58,1);
    background: -moz-linear-gradient(-45deg, rgba(46,37,58,1) 0%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(46,37,58,1)), color-stop(31%, rgba(46,37,58,1)), color-stop(100%, rgba(8,0,36,1)));
    background: -webkit-linear-gradient(-45deg, rgba(46,37,58,1) 0%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(46,37,58,1) 0%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(46,37,58,1) 0%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 100%);
    background: linear-gradient(135deg, rgba(46,37,58,1) 0%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 100%);
    width: 100%;
    height: 450px;
}
.ilustracao{
    width: 700px;
    height: 300px;
}
.introducao .texto{
width: 700px;
height: 300px;
margin-left: 10px;
}
.introducao .ilustracao img{
    width: 35%;
    margin-left: 300px;
    filter: brightness(0) invert(1);
}
.introducao .texto{
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--branco)
}
.texto
{
    width: 300px;
    height: 300px;
}
.texto h1{
    margin-left: 25px;
}
.cardEstrutura{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 50px;
    background-color: var(--branco)

}  
.cardEstrutura .card{
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 350px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 20px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px -12px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px -12px rgba(0,0,0,0.75);
    background-color: var(--branco);
}
.card h1{
    cursor: default;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.card p {
    margin: 5px;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}
.home img{
    filter: brightness(0) invert(1);
    width: 100px;
}
.ariolintroducao{
    background-color: var(--branco);
    padding-top: 100px;
    color: var(--preto);
    text-align: center;
}
.transicao1{
    width: 100%;
    background: rgba(46,37,58,1);
    background: rgba(46,37,58,1);
    background: -moz-linear-gradient(-45deg, rgba(46,37,58,1) 100%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 0%);
    background: -webkit-gradient(left top, right bottom, color-stop(100%, rgba(46,37,58,1)), color-stop(31%, rgb(41, 12, 80)), color-stop(0%, rgba(8,0,36,1)));
    background: -webkit-linear-gradient(-45deg, rgba(46,37,58,1) 100%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 0%);
    background: -o-linear-gradient(-45deg, rgba(46,37,58,1) 100%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 0%);
    background: -ms-linear-gradient(-45deg, rgba(46,37,58,1) 100%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 0%);
    background: linear-gradient(135deg, rgba(46,37,58,1) 100%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 0%);
}
.transicao{
    width: 100%;
    background: rgba(46,37,58,1);
    background: rgba(46,37,58,1);
    background: -moz-linear-gradient(-45deg, rgba(46,37,58,1) 0%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(46,37,58,1)), color-stop(31%, rgba(46,37,58,1)), color-stop(100%, rgba(8,0,36,1)));
    background: -webkit-linear-gradient(-45deg, rgba(46,37,58,1) 0%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(46,37,58,1) 0%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(46,37,58,1) 0%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 100%);
    background: linear-gradient(135deg, rgba(46,37,58,1) 0%, rgba(46,37,58,1) 31%, rgba(8,0,36,1) 100%);
}
.faixa1{
    background-color: var(--branco);
}
.faixa1 .text {  
    position: relative;
    left: 50%;
    letter-spacing: 4px;
    width: 900px;
    transform: translateX(-50%) translateY(-50%);
    font-size: 15px;
    list-style: none;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none; 
   -ms-user-select: none;
  }
  .faixa1 .text li {
      
    display: inline-block;
    color: black;
    opacity: 1;
    max-width: 700;
    transition: all 0.5s ease-in-out;
    max-width: 2em;
  }
  .faixa1 .text.hidden li.spaced {
    padding-left: 0;
  }
  .faixa1 .text li.spaced {
    padding-left: 0.5em;
  }
  
  .faixa1 .text.hidden li.hidden {
    opacity: 0;
    max-width: 0;
  }
  .siglacriminosa{
    margin-top: 20px;
    background-color: var(--branco);
    line-height: 30px;
  }
  .card:hover{
    transition: 1s;
      background-color: #eeeeee; 
  }
  .contador {
      height: 625px;
  }
  .contador .cardEstrutura1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 50px;
    background-color: var(--branco);
}  
  .contador .card1{
    margin-left: 20px;
    margin-right: 20px;
    width: 450px;
    height: 350px;
    border-radius: 7px; 
  }
  .card1 h1{
    cursor: default;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.contador h1{
    padding-top: 100px;
    color: var(--preto);
    text-align: center;
}
.contador p{
    text-align: center;
}
.contador h2, b{
    margin: 5px;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
  nav {cursor: pointer}

.slider-pager {
list-style-type: none;
margin: 0;
padding: 0;
}

.slider-pager li {
background-color: #333;
color: #FFF;
padding: 1em;
margin: 0 0 1em 0;
cursor: pointer;
text-align: center;
border-radius: 4px;
border-radius: 4px;
}
.fonte {
    margin-top: -90px;
}
.contimg{
    width: 100px;
    height: 100px;
    transform:matrix(1,0,0,1,0,0);
transition:transform 0.5s ease 0s;
}
.contimg:hover{
    transform:matrix(1,-0.3,0.3,1,0,0);
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, rgba(46,37,58,1), rgba(46,37,58,1), rgba(8,0,36,1));
}
.slider {
    width: 100%;
    height: 700px;
}
.slider h1{
    padding-top: 75px;
    color: var(--preto);
    text-align: center;
}
.slider p{
    text-align: center;
}
.carousel-item {
    height: 500px;
  }
  
